<% if(currentUser != undefined) { %>

	<div class="navbar navbar-fixed-top">
	  <div class="container-fluid">
	    <div class-"navbar-header">
	    	<a class="navbar-brand" href="/">Gigs</a>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	      	<li class="active"><a href="/addJob">Add a Job</a></li>
	      	<li class="active"><a href="/">FAQ</a></li>
	      </ul>
	      <div class="navbar-form navbar-left" role="search">
	      	<div class="form-group">
	      		<input id="searchInput" type="text" class="form-control" placeholder="Search">
	      	</div>
	      	<button type="submit" class="btn btn-default">Submit</button>
	      </div>
	      <div class="navbar-form navbar-right">
	      	<a id="logoutButton" class="btn btn-default">Logout</a>
	      </div>
	    </div>
	  </div>
	</div>

<% } else { %>

	<div class="navbar navbar-fixed-top">
	  <div class="container-fluid">
	    <div class-"navbar-header">
	    	<a class="navbar-brand" href="/">Gigs</a>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	      	<li class="active"><a href="/addJob">Add a Job</a></li>
	      	<li class="active"><a href="/">FAQ</a></li>
	      </ul>
	      <div class="navbar-form navbar-left" role="search">
	      	<div class="form-group">
	      		<input id="searchInput" type="text" class="form-control" placeholder="Search">
	      	</div>
	      	<button type="submit" class="btn btn-default">Submit</button>
	      </div>
	      <div class="navbar-form navbar-right">
	      	<div class="form-group">
	      		<input id="usernameInput" type="text" class="form-control" placeholder="Username">
	      	</div>
	      	<div class="form-group">
	      		<input id="passwordInput" type="password" class="form-control" placeholder="Password">
	      	</div>
	      	<button id="loginButton" class="btn btn-default">Login</button>
	      	<a id="registerButton" type="submit" class="btn btn-default" href="/register">Register</a>
	      </div>
	    </div>
	  </div>
	</div>

<% }; %>

<script type="text/javascript">
	header.init();
  if("<%= currentUser.username %>" != undefined){
  	console.log("currentUser is defined");
  	var currentUser = {
  		username: "<%= currentUser.username %>"
  	}
  } else{
  	console.log("currentUser is undefined");
  }
</script>