<!DOCTYPE html>
<html>

	<head>
    <title>Add Job</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
	</head>

	<body style="padding: 0px;">

		<% include partials/header %>

		<div class="jumbotron" style="background-color: #94B77C; top: 50px;">
    	<div class="container">
	    	<h1><%= currentUser.username %></h1>
	    	<p>Join date: <%= currentUser.dateCreated %></p>
	    </div>
    </div>

  </body>

  <script>
  	
  </script>

</html>