<!DOCTYPE html>
<html>

	<head>
    <title>Add Job</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/register.js"></script>
    <script type="text/javascript" src="javascripts/header.js"></script>
	</head>

	<body style="padding: 0px;">

		<% include partials/header %>

    <div class="jumbotron" style="background-color: #94B77C">
    	<div class="container">
	    	<h1>Help out your community</h1>
	    	<p>Work with great people in your city</p>
	    	<p>Start your search today!</p>
	    </div>
    </div>

    <div class="container">
    	<div class="input-group input-group-lg">
    		<span class="input-group-addon" style="width: 120px;">Username</span>
    		<input id="registerUsernameInput" type="text" class="form-control" style="width: 500px;" placeholder="Choose a unique username">
    	</div>
    	<div class="input-group input-group-lg">
    		<span class="input-group-addon" style="width: 120px;">Password</span>
    		<input id="registerPasswordInput" type="password" class="form-control" style="width: 500px;" placeholder="Must be at least 8 characters">
    	</div>
    	<div class="input-group input-group-lg">
    		<span class="input-group-addon" style="width: 120px;">Password</span>
    		<input id="registerConfirmPasswordInput" type="password" class="form-control" style="width: 500px;" placeholder="Confirm password">
    	</div>
    	<div class="input-group input-group-lg">
    		<span class="input-group-addon" style="width: 120px;">Email</span>
    		<input id="registerEmailInput" type="text" class="form-control" style="width: 500px;" placeholder="We'll send you a confirmation email">
    	</div>
			<div class="form-group">
	      <a id="registerUserButton" class="btn btn-lg btn-success pull-right" href="#" role="button">Register</a>
	    </div>
    </div>

	</body>

	<script>
	  register.init();
	</script>

</html>