body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-job {
	text-align: center;
	padding: 10px;
	margin: 10px;
	position: relative;
	outline-style: dotted;
}

.posting-container {
	left: 300px;
	position: relative;
}

/* Job elements */

.job {
	text-align: center;
	cursor: pointer;
}

.job:hover {
	background-color: #F0F0F0;
}

/* Company elements */

.company {
	text-align: center;
	cursor: pointer;
}

.company:hover {
	background-color: #F0F0F0;
}

/* User elements */

.user {
	cursor: pointer;
}

.user:hover {
	background-color: #F0F0F0;
}

.posting-detail-container {
	left: 300px;
	text-align: center;
	position: relative;
	padding: 20px;
	margin: 10px;
	outline-style: dotted;
}